body {
    /* Disallow scroll wheel*/
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.sidebar {
  /* Display on the right side of the map */
  position: absolute;
  right: 10px;
  top: 1%;

  /* Display vertically */
  display: flex;
  flex-direction: column;

  background: white;
  border: 1px solid #ccc;
}

.sidebar-btn {
    /* Space out each button */
    margin: 1px;
}

.sidebar-window {
  position: absolute;
  top: 1%;
  right: 120px;
  width: 350px;
  background: white;
  border: 1px solid #ccc;
  display: none;
}

.settings-input-container {
    display: flex;
    margin-bottom: 3px;
}

.settings-label {
    /* Fixed size for labels, that way the text inputs are aligned top to bottom */
    width: 140px;
}