# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore frontend build artifacts
frontend/public/data

# Ignore raster and model files
WSR88_1D/_dem090
WSR88_1D/*.tif
WSR88_1D/*.npz
WSR88_1D/*.geojson
WSR88_1D/population/*.tif

# Ignore processor.py outputs, for testing purposes only
outputs